**/package-lock.json
**/dist
**/node_modules
**/node_modules/**
**/__pycache__/
**/__pycache__/**
**/**/__pycache__
__pycache__
**/**/.parcel-cache
**/**/**/__pycache__
chat/api/__pycache__
db.sqlite3
Pipfile
Pipfile.lock
vscode-neovim/
