[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"

[dev-packages]
pylint = "*"
yapf = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
